body {
    background-color: black;
    color: white;
}

h1 {
    text-align: center;
    font-family: monospace;
    font-size: 50px;
}

p {
    text-align: center;
    font-size: 20px;
    font-family: monospace;
    color: white;
}

#player-el {
    color: white;
}

#message-el {
    font-style: italic;
}

#card1 #card2 {
    text-align: center;
}

#cards {
    margin-top: 40px;
    display: block;
}

button {
    display: block;
    margin: auto;
    padding: 15px;
    font-size: 20px;
    font-family: monospace;
    border-radius: 25px;
    font-weight: 600;
    background-color: aqua;
}

button:hover {
    background-color: rgb(55, 108, 223);
    transition: .3s;
    cursor: pointer;
}

#newcard-btn {
    margin-top: 10px;
}